@font-face {
    font-family: dfkai_sb;
    src: url(../fonts/dfkai_sb.ttf);
}

@font-face {
    font-family: simkai;
    src: url(../fonts/simkai.ttf);
}

body {
    background: rgb(204, 204, 204);
}

page {
    background-image: url(../images/plate_a4_landscape_5col.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    position: relative;
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;
}

page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
}

page[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;  
}

@media print {
    body,
    page {
        margin: 0;
        box-shadow: none;
    }

    #data {
        display: none;
    }
}

.vertical-chinese {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-family: 'dfkai_sb', 'simkai', serif;
    font-size: 18px;
    font-weight: 800;
}

#data {
    margin-bottom: 10px;
}